body{
    font-size: 1.4rem;
}
#officialContent>.catalogs{
    padding: 0;
    list-style: none;
}
#officialContent>.catalogs:after{
    content : '';
    display: block;
    clear: both;
}
#officialContent>.catalogs>li{
    float : left;
    border: 1px solid #ddd;
    padding: 0.5rem;
    margin:0 1rem 1rem 0 ;
    width: 100px;
    text-align: center;
}
#officialContent>.catalogs>li:hover{
    cursor: pointer;
    background: #eee;
}
.catalog-list{
background: #efefef;
}
.catalog-list>li{
    padding: 1rem;
}
.catalog-list>li>button{
    float : right;
    display : none;
}
.catalog-list>li:hover{
    background: #dddddd;
}
.catalog-list>li:hover>button{
    display : block;
}
.catalog-list>li>img{
    display: inline-block;
    margin-right: 1rem;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ddd;
}