*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}
#main{
    width: 320px;
}
#main:after{
    content : '';
    display : block;
    clear : both;
}
.tabs{
    width: 40px;
    float: right;
    border-left: 1px solid #ddd;
    background: #f1f1f1;
}
.tabs>li:hover{
    cursor: pointer;
}
.tabs>li>img{
    max-width: 100%;
    border-radius: 50%;
    display : block;
}
.tabs>li{
    padding: 4px;
    background: #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.tabs>li.active{
    margin-left: -1px;
    background-color: #ffffff!important;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.tabs>li:first-child.active{
    border-top: none!important;
}
.tabs>li:last-child.active{
    border-bottom: none!important;
}
.news-list{
    float : left;
    width: 280px;
}
.news-list>li{
    margin: 4px;

}

.news-list>li>a{
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;

    white-space: nowrap;
    text-overflow: ellipsis;
    width: 272px;
    overflow: hidden;
    font-size: 14px;
}
.news-list>li>a:visited{
    color: #cccccc;
}
.news-list>li>a:hover{
    background-color: #DDDDDD;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);

    filter: grayscale(100%);

    filter: gray;
}