::-webkit-scrollbar {
  display: none;
}

body, strong {
  font-size:   100%;
  font-family: "PingFang SC", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

a {
  -webkit-tap-highlight-color: transparent;
  outline:                     none;
}

.ng-hide {
  display: none !important;
}