* {
  box-sizing : border-box;
}

::-webkit-scrollbar {
  display : none;
}

a {
  -webkit-tap-highlight-color : transparent;
  outline: none;
}

ul {
  list-style : none;
  margin     : 0;
  padding    : 0;
}