@import url(../bower_components/pure/base-min.css);
@import url(../bower_components/pure/grids-min.css);
@import url(../bower_components/chrome-bootstrap/chrome-bootstrap.min.css);
::-webkit-scrollbar {
  display: none; }

body, strong {
  font-size: 100%;
  font-family: "PingFang SC", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif; }

a {
  -webkit-tap-highlight-color: transparent;
  outline: none; }

.ng-hide {
  display: none !important; }

.popup {
  width: 360px; }
  .popup ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .popup .content {
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    position: relative; }
    .popup .content:after {
      content: '';
      display: block;
      clear: both; }
    .popup .content .news-list {
      background: #fff;
      float: left;
      width: 318px;
      border-right: 1px solid #ddd;
      height: 22rem;
      overflow: auto; }
      .popup .content .news-list li a {
        text-decoration: none;
        color: #444;
        padding: 0.7rem 0.5rem;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.8rem;
        transition: all 0.4s;
        line-height: 1; }
        .popup .content .news-list li a:visited {
          color: #cccccc; }
        .popup .content .news-list li a:hover {
          background-color: #ededed;
          color: #555; }
    .popup .content .tabs {
      width: 40px;
      background: #f1f1f1;
      height: 22rem;
      overflow: auto;
      display: block; }
      .popup .content .tabs li {
        padding: 2px;
        background: #f1f1f1;
        border-top: 1px solid #f1f1f1;
        border-bottom: 1px solid #f1f1f1;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%); }
        .popup .content .tabs li:hover {
          cursor: pointer; }
        .popup .content .tabs li.active {
          display: inline-block;
          margin-left: -1px;
          padding-left: 3px;
          background-color: #ffffff !important;
          border-top: 1px solid #dddddd;
          border-bottom: 1px solid #dddddd;
          -webkit-filter: none;
          filter: none; }
        .popup .content .tabs li:first-child.active {
          border-top-color: #fff !important; }
        .popup .content .tabs li img {
          max-width: 100%;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          border: 2px solid #fff; }
  .popup .control {
    background: #fff; }
    .popup .control .site {
      line-height: 32px;
      font-size: 0.9rem;
      padding-left: 0.5rem;
      color: #333;
      text-decoration: none; }
    .popup .control .action {
      font-size: 1.2rem;
      float: right;
      padding: 0.35rem 0.5rem;
      color: #666; }
    .popup .control .loading {
      transform: rotate(0deg);
      -webkit-animation: loading 2s infinite linear; }

@-webkit-keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.chrome-bootstrap {
  max-width: 960px;
  margin: 0 auto; }
  .chrome-bootstrap .content-area input {
    width: 100%; }

.mainview .highlightable img {
  width: 32px;
  float: left;
  margin-right: 1rem; }

.mainview .pagination {
  display: inline-block;
  margin: 0; }

.mainview .form-modal {
  position: absolute;
  background: #fff;
  border: 8px solid #B0B0B0;
  padding: 1rem;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.mainview .site-info div {
  margin-top: 1rem; }
  .mainview .site-info div:hover .subscribe {
    display: inline;
    margin-top: 10px; }
  .mainview .site-info div:hover .site-name {
    display: none; }

.mainview .site-info .subscribe {
  display: none; }

.mainview .site-info img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 0.5rem; }

.mainview .site-info .site-name {
  line-height: 44px; }
