* {
    margin:             0;
    padding:            0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

html, .reader {
    background:             #F4F4F4;
    font-family:            -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    color:                  #222;
    height:                 100%;
    margin:                 0;
}

.reader__icon {
    height:      100px;
    margin-left: 18px;
    padding-top: 30px;
    opacity:     0.7;
}

.reader__icon > img {
    height:     64px;
    margin-top: -10px;
}

.reader__sidebar {
    width:            20%;
    min-width:        200px;
    float:            left;
    color:            #666;
    background-color: #EEE;
    height:           100%;
    position:         fixed;
    padding-left:     20px;
    z-index:          2;
}

.reader__list {

    border-radius:  5px;
    position:       relative;
    display:        inline-block;
    text-align:     left;
    padding:        10px 20px;
    vertical-align: top;
    width:          100%;
    list-style:     none;
}

.reader__list-item {
    padding:       10px;
    height:        auto;
    border-radius: 2px;
    position:      relative;
    z-index:       1;

}

.reader__list-item:hover {
    background: #EEE;
}

.reader__list-item-link {
    text-decoration: none;
    color:           #303030;
    position:        relative;
    z-index:         1;
    display:         block;
}


.reader__list-item-link:visited .reader__list-item-below {
    color: #ccc;
}
.reader__list-item-link:visited .reader__list-item-title {
    color: #ccc;
}

.reader__list-item-title {
    font-size:          14px;
    width:              100%;
    display:            block;
    margin:             0;
    font-weight:        500;
    color:              #666;
    line-height:        1.5;

    overflow:           hidden;
    text-overflow:      ellipsis;
    display:            -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ellipsis {
    overflow:           hidden;
    text-overflow:      ellipsis;
    display:            -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.hide {
    display: none;
}

.reader__main {
    height:                     100%;

    -webkit-overflow-scrolling: touch;
    overflow:                   scroll;
}

.reader__loading {
    position:         fixed;
    width:            100%;
    height:           100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index:          3;
}

.reader__loading-text {
    font-size: 20px;
    color:     #666;
    position:  absolute;
    left:      40%;
    top:       50%;
    transform: translate(-50%, -50%)
}

.reader__list-item-below {
    font-size: 12px;
    color:     #999;
    width:     100%;
    display:   inline-block;
    margin:    5px 0 0;
}

.reader__news {
    width:       80%;
    margin-left: 20%;
    /*height:      100%;*/
    position:    relative;

}

.reader__site {
    margin:     0 0 0 20px;
    text-align: left;
    padding:    0;
    height:     100%;
    position:   relative;
}

.reader__site-item--sites {
    height:   calc(100% - 255px);
    overflow: scroll;
    position: absolute;
}

.reader__site-item {
    width:       100%;
    line-height: 30px;
    font-size:   14px;
    list-style:  none;
    cursor:      pointer;
    position:    relative;
}

.reader__site-item-divider {
    margin:     20px 0;
    height:     1px;
    background: linear-gradient(to right, #dcdcdc, rgba(220, 220, 220, 0));
}

.reader__site-item--active {
    font-weight:      500;
    background-color: #f4f4f4;
}

.reader__site-items {

}

.reader__config {

}

/* response */

@media (max-width: 375px) {
    .reader {
        height: auto;
    }

    .reader__sidebar {
        position:         static;
        width:            100%;
        float:            none;
        padding-left:     0;
        background-color: #fff;
        padding:          0.5rem 1rem;

    }

    .reader__icon {
        display: none;
    }

    .reader__news {
        margin-left: 0;
        width:       100%;
    }

    .reader__list {
        padding: 0.5rem;
    }

    .reader__site {
        margin-left: 0;
    }

    .reader__site-items {
        display: none;
    }

    .reader__site-item {
        display:       inline-block;
        width:         auto;
        padding-right: 10px;
    }

    .reader__site-item:last-child {
        padding-right: 0;
    }

    .reader__site-item-divider {
        display: none;
    }

    .reader__site-item--settings {
        display: none;
    }

    .reader__site-item--all {
        padding-right: 0;
        display:       block;
        text-align:    center;
        font-size:     1.2rem;
    }

    .reader__site-item--sites {
        display: block;
    }

}