<div class="selected">
    <header>
        <h1>订阅商店</h1>
    </header>
    <div class="content">
        <div class="controls">
            <ol class="pagination ">
                <li data-ng-repeat="catalog in optionList.catalogs"
                    data-ng-click="optionList.show(catalog.slug)"
                        >
                    <a class="{{optionList.slug==catalog.slug?'selected':''}}" style="padding: 0 10px; width: auto;">
                        {{catalog.name}}
                    </a>
                </li>

            </ol>
            <div class="spacer"></div>
            <span class="text">商店数据托管于 github</span></div>


        <div class="pure-g site-info">
            <div class="pure-u-1-3"
                 data-ng-repeat="site in optionList.currentSites"
                    >
                <img src="{{site.icon}}">

                <button class="subscribe"
                        data-ng-click="optionList.subscribe(site)">点击订阅
                </button>

                <span class="site-name">{{site.name}}</span>
            </div>
        </div>
    </div>
</div>



