<div class="selected">
    <header>
        <h1>我的订阅</h1>

        <div class="controls">
            <button data-ng-click="myList.add()">添加订阅</button>
            <div class="spacer"></div>
            <button data-ng-click="myList.export()">数据导出</button>
        </div>
    </header>

    <div class="content" style="padding-top: 100px;">


        <ul class="highlightable editable" data-ng-model="myList.data" data-as-sortable="myList.dragControlListeners">
            <li data-ng-repeat="site in myList.data" data-as-sortable-item>
                <a data-ng-click="myList.edit($index)">
                    <img data-as-sortable-item-handle style="width: 32px;" src=" {{site.icon}}">
                    <dl>
                        <dt>{{site.name}}</dt>
                        <dd>{{site.url}}</dd>
                    </dl>
                </a>
                <a class="action" data-ng-click="myList.edit($index)">编辑</a>
                <a class="delete" data-ng-click="myList.del($index)">删除</a>
            </li>

        </ul>
    </div>
</div>

