<div class="selected">
    <header>
        <h1>关于</h1>
    </header>
    <div class="content">
        <section><h3>贡献代码</h3>

            <div><a target="_blank" href="https://github.com/wtser/ten-read">tenread github repo</a></div>
        </section>
        <section><h3>反馈信息</h3>

            <div>建议，不足，意见？发微博<a target="_blank" href="http://weibo.com/wtser1125">@我是王铁手</a>！
                <br>
                <a style="margin-top: 10px; display: block;" href="mailto:wtser@qq.com">wtser@qq.com</a>
            </div>
        </section>

        <section><h3>捐赠支持</h3>

            <div>
                <img src="icon/payme.png">

                <p>扫我 支付宝条码支付</p>
            </div>
        </section>


    </div>
</div>



