<style>
    body{
        background: #f1f1f1;
    }
</style>
<div class="pure-g option">
    <div class="pure-u-1-5">
        <ul>
            <li>
                <h2>订阅设置</h2>
                <ul>
                    <li><a href="#/option/list">订阅资源</a></li>
                    <li><a href="#/option/mylist">资源管理</a></li>
                </ul>
            </li>
            <li>
                <h2>通用设置</h2>
                <ul>
                    <li><a href="#/option/exchange">导入/导出</a></li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="pure-u-4-5" ui-view="content"></div>
</div>