<div class="popup">
    <div class="content">
        <ul class="news-list">
            <div data-ng-show="popup.error"><h1>该网站暂不可用，访问超时。</h1></div>
            <li data-ng-repeat="article in popup.parsedData ">
                <a target="_blank"
                   data-ng-click="popup.sync(article)"
                   title="{{article.title.length>20?article.title:''}}"
                   href="{{article.href}}">
                    {{article.title}}
                </a>
            </li>
        </ul>

        <ul class="tabs">
            <li class="{{ site.status }}"
                data-ng-repeat="site in popup.sites track by $index"
                data-ng-click="popup.show( $index )"
            >
                <img src="{{ site.icon }}">
            </li>

        </ul>
    </div>

    <div class="pure-g control">
        <div class="pure-u-1-2">
            <a class="site" target="_blank"
               href="{{popup.currentSite.url}}"><strong>{{popup.currentSite.name}}</strong></a>

        </div>
        <div class="pure-u-1-2">
            <a target="_blank" href="#/option/store" class="action"><i class="fa fa-cog"></i></a>

            <a href="javascript:;"
               class="action {{ popup.loading?'loading':''}}"
               data-ng-click="popup.show(popup.index)"
            ><i class="fa fa-refresh"></i></a>

        </div>
    </div>

</div>