.option {
  max-width : 960px;
  margin    : 0 auto;
  font-size : 1rem;
  padding   : 2rem 0;

  .content {
    margin : 1rem 2rem;
  }

  .catalogs {
    list-style    : none;
    padding       : 0;
    border-bottom : 1px solid #ddd;
    margin        : 0;

    li {
      display : inline-block;
      padding : 0.5rem 1rem;
      cursor  : pointer;
    }
    .active {
      border : 1px solid #ddd;
      border-bottom: none;
    }
  }

  .site-info {
    div {
      margin-top : 1rem;
    }

    img {
      width         : 44px;
      height        : 44px;
      border-radius : 50%;
      overflow      : hidden;
      float         : left;
      margin-right  : 0.5rem;
    }
    .site-name {
      line-height : 44px;

    }

  }
}



