.chrome-bootstrap {
  max-width: 960px;
  margin: 0 auto;

  .content-area {
    input {
      width: 100%;
    }
  }
}

.mainview {

  .highlightable img {
    width: 32px;
    float: left;
    margin-right: 1rem;
  }

  .pagination {
    display: inline-block;
    margin: 0;
  }

  .form-modal {
    position: absolute;
    background: #fff;
    border: 8px solid #B0B0B0;
    padding: 1rem;
    width: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .site-info {
    div {
      margin-top: 1rem;
      &:hover {
        .subscribe {
          display: inline;
          margin-top: 10px;
        }
        .site-name {
          display: none;
        }
      }
    }
    .subscribe {
      display: none;
    }
    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      margin-right: 0.5rem;
    }
    .site-name {
      line-height: 44px;

    }

  }
}



