.popup {
  width : 360px;

  ul {
    list-style : none;
    margin     : 0;
    padding    : 0;
  }

  .content {
    background    : #f1f1f1;
    border-bottom : 1px solid #ddd;
    &:after {
      content : '';
      display : block;
      clear   : both;
    }

    .news-list {
      background   : #fff;
      float        : left;
      width        : 318px;
      border-right : 1px solid #ddd;

      li {
        margin : 6px 4px;

        a {
          text-decoration : none;
          color           : #333;
          padding         : 8px;
          display         : block;
          white-space     : nowrap;
          text-overflow   : ellipsis;
          overflow        : hidden;
          font-size       : 14px;

          &:visited {
            color : #cccccc;
          }

          &:hover {
            background-color : #DDDDDD;
          }
        }
      }
    }

    .tabs {
      width      : 40px;
      background : #f1f1f1;
      max-height : 600px;
      overflow   : auto;
      display    : table;
      li {
        padding        : 4px;
        background     : #f1f1f1;
        border-top     : 1px solid #f1f1f1;
        border-bottom  : 1px solid #f1f1f1;

        -webkit-filter : grayscale(100%);
        filter         : grayscale(100%);

        &:hover {
          cursor : pointer;
        }
        &.active {
          display          : inline-block;
          margin-left      : -1px;
          padding-left     : 5px;
          background-color : #ffffff !important;
          border-top       : 1px solid #dddddd;
          border-bottom    : 1px solid #dddddd;
          -webkit-filter   : none;
          filter           : none;
        }
        &:first-child.active {
          border-top-color : #fff !important;
        }

        img {
          max-width     : 100%;
          border-radius : 50%;
          width         : 32px;
          height        : 32px;
        }
      }
    }

  }

  .control {
    background : #fff;
    .action {
      font-size : 1.4rem;
      float     : right;
      padding   : 0.5rem;
      color     : #666;
    }
    .loading {
      transform         : rotate(0deg);
      -webkit-animation : loading 2s infinite linear;
    }

  }
}

@-webkit-keyframes loading {
  0% {
    transform : rotate(0deg);
  }
  100% {
    transform : rotate(360deg);
  }
}